<!--<div class="mydiv"></div>
<img src="idk.svg" style="position: absolute; top: 10px; left: 10px; height: 50px; z-index: 10;">-->
<a class="btn btn-primary font-weight-bold p-2" style="position: absolute; top: 12.5px; left: 12.5px; z-index: 10; background-color: white; border: none; color: red">אגמים</a>
<div class="container">
  <div class="row" style="margin-top: 70px">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <a href="/users/register" class="btn btn-primary btn-block mb-2" style="background-color: red; border: none">
          הרשמה
          </a>
        <a href="/users/login" class="btn btn-secondary btn-block" style="background-color: red; border: none">כניסה</a>
      </div>
    </div>
  </div>
</div>
